/* .theme-main-menu{
    padding: 0px;

}
.theme-main-menu.menu-overlay{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    background:0px ;
}




* , ::after, ::before{
    box-sizing: border-box;
}
header {
    display: block;
}
body {
    font-family: "Satoshi";
    font-weight: normal;
    font-size: 20px;
    position: relative;
    color: rgba(0,0,0,.7);
} */
*{
    box-sizing: border-box;
    background-color:#edf1ee ;
}
#header{
    margin: 0;
    padding: 0;
    justify-content: center;
    z-index: 100;
    background-color: #edf1ee;
}
.greetings{
  display: flex;
align-items: center;
justify-content: center;
}
.contact{
    display: flex;
margin-right: 50px;
padding-bottom: 0;
justify-content: center;
z-index: 100;
background-color: #edf1ee;
text-decoration: none;
padding-right: 10px;
}
.con{
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.con:hover{
    text-decoration: line-through;
}
a href[mail] {
text-decoration: none;
}
.signup-btn-one{
    display: inline-block;
    /* gap: 375rem; */
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #19352d;
    line-height: 40px;
    border-radius: 30px;
    background: #edf1ee;
    transition: all .2s ease-in-out 0s;
    
}
.lmodule{
    display: flex!important;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.signup-btn-one span{
    display: inline-block;
    font-weight: 500;
    color: #19352d;
    padding: 0 30px;
    line-height: 45px;
    border: 2px solid #29594b;
    border-radius: 30px;
    background: #fff;
    transition: all .2s ease-in-out 0s;
        
}
.areo {
    width: 49px;
    height: 49px;
    background: #29594b;
    color: #fff;
    font-size: 22px;
    margin-left: -12px;
    transition: all .2s ease-in-out 0s;

}
.round circle{
    border-radius: 50%!important;
}
.style-none {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.style-none {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.align-items-center {
    align-items: center!important;
}
.d-flex {
    display: flex!important;
}
.hero-banner-two .hero-heading {
    font-size: 80px;
        line-height: 1em;
        z-index: 1;
    
}
.hero-banner-two .shape_04 {
    top: 49%;
    right: 0;
    width: 15%;
}
.shapes {
    position: absolute;
    z-index: -1;
}
.shaper{
    top: 49%;
    width:15%;
}
.shape_04{
    top: 49%;
    right: 0;
    width: 15%;
}
.para{
    width:35%;
   display: flex;
   justify-content: center!important;
   flex-direction: row;
   align-items: center;

}
img {
    max-width: 100%;
    display: block;
}
img, svg {
    vertical-align: middle;
}
.mt-10 {
    margin-top: 10px;
}
.text-center {
    text-align: center!important;
}
.fw-bold {
    font-weight: 700!important;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67rem;
    margin-block-end: 0.67rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.row{
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}
    .inputb{
        height: 40px;
        width: 40%;
    }
    button {
        border: none;
        outline: none;
        box-shadow: none;
        display: block;
        padding: 0;
        cursor: pointer;
        background: rgba(0,0,0,0);
        color: inherit;
    }
    .hero-banner-two form input {
        font-size: 18px;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        background: #fff;
        border: none;
        padding: 0 150px 0 35px;
    }
    .hero-banner-two form button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 50px;
    }
    button:not(:disabled) {
        cursor: pointer;
    }
    .btn-four {
        font-weight: 700;
        font-size: 18px;
        line-height: 10px;
        padding: 0 38px;
        text-align: center;
        border-radius: 50px;
        color: #fff;
        background-color: #29594b;
        transition: all .3s ease-in-out 0s;
    }
