body{
    margin-left: 30px;
}
h1{
    text-align: center;
    text-decoration:underline;
    text-decoration-style: double;
    /* text-decoration-color: rgb(102, 248, 102); */
    text-shadow:"2px,2px,4px" color(rgb(178, 255, 90) rgb(147, 247, 147) rgb(227, 227, 238));
text-shadow: 20px;
}
 
.About{
text-align:justify;
display: grid;
grid-template: 500px / 600px;
gap: 30px;

}
.our{
    text-align: left;
    padding-left: 30px;
}
#logo {
    from {background-color: red;}
    to {background-color: yellow;}
  
  /* The element to apply the animation to */
  /* div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 20s;
  } */
}
#Stand {
    size: 250px;
    display: grid;
    grid-template:300px / 300px ;
    gap: 20px;
justify-content: center;
align-self: self-start;
}

